include *.txt
include Makefile
recursive-include doc *.txt *.pdf *.gif *.css *.html *.js *.png
recursive-include bin *.py
recursive-include examples *.py *.xml *.endf *.xsl *.txt *.png
recursive-include fudge/legacy yo* *.txt *.xml
recursive-include fudge/gnd *.xsd
recursive-include fudge *.h Makefile
recursive-include pqu *.py
recursive-include pqu/doc *.html *.js *.txt *.png *.css
recursive-include numericalFunctions Makefile *.py *.c *.h *.pdf
recursive-include crossSectionAdjustForHeatedTarget Makefile *.py *.c *.h *.pdf
recursive-include site_packages Makefile *.py
